server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Aswini669/E-Commerece-Applications
          default-label: main
          clone-on-start: true 
          search-paths: ecommerececonfig